docutils==0.16
Markdown==3.1.1
parso==0.6.0
pytest==5.3.5
pytest-json-report==1.2.1
pytest-metadata==1.8.0
pytest-sugar==0.9.2
pandas==0.23.4
python-dateutil==2.7.5
ipytz==2018.7
six==1.11.0
pluggy==0.8.0
py==1.7.0
pyparsing==2.3.0
matplotlib==3.0.2
more-itertools==4.3.0
numpy==1.15.4